h1 { 
  font-family: 'Nunito', sans-serif;
  font-weight: 400; 
  font-size: 70px;
  text-align: center;
}

h2 { 
  font-family: ‘Merriweather Sans’, Arial, serif; 
  font-weight: 400; 
  font-size: 50px;
}

.logo {
  width: 100px;
  vertical-align:middle;
}

.logo_with_link {
  width: 400px;
  margin:0 auto;
}

.logo_with_link a{
  color: inherit;
  text-decoration: none;
}

.white{
  color: white;
}

body {
    background-color: #6EB5E6;
    background-image: url("/images/background.png");
    background-repeat: repeat-x;
}

.blue {
  color: #6EB5E6;
}

.top_margin{
  margin-top: 100px;
}
